name: Build & Test

on:
  push:
    branches: ["main"]
  pull_request:
    paths-ignore:
      - 'docs/**'
      - '**.md'
      - 'signatures/**'

jobs:
  build:
    strategy:
      matrix:
        node: [20, 22]
        os: [ubuntu-22.04]
    runs-on: ${{ matrix.os }}
    services:
      zookeeper:
        image: 'confluentinc/cp-zookeeper:7.9.5'
        env:
          ZOOKEEPER_CLIENT_PORT: 2181
          ZOOKEEPER_TICK_TIME: 2000
        ports:
          - '2181:2181'
      kafka:
        image: 'confluentinc/cp-kafka:7.9.5'
        env:
          KAFKA_BROKER_ID: 1
          KAFKA_ZOOKEEPER_CONNECT: 'zookeeper:2181'
          KAFKA_ADVERTISED_LISTENERS: 'PLAINTEXT://localhost:9092'
          KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
          KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS: 0
        ports:
          - '9092:9092'
        options: >-
          --link zookeeper
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: recursive
      - name: Install Node ${{ matrix.node }} in ${{ runner.os }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node }}
          cache: "npm"
      - name: Update node-gyp
        run: npm install --global node-gyp@latest
      - name: Install Windows packages
        if: runner.os == 'Windows'
        run: ./win_install.ps1
      - name: Build
        run: npm ci
      # skipping on windows for now due to Make / mocha exit code issues
      - name: Test
        if: runner.os != 'Windows'
        run: npm test
